Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/src/main/webapp/index.html
/src/main/webapp/main.js
/src/main/webapp/polyfills.js
/src/main/webapp/runtime.js
/src/main/webapp/styles.js
/src/main/webapp/vendor.js
/devDb.mv.db
/src/main/webapp/vendor.js.map
/src/main/webapp/styles.js.map
/src/main/webapp/runtime.js.map
/src/main/webapp/polyfills.js.map
/src/main/webapp/main.js.map
